Curso Angular UTN 2021
<p>práctico Final (OBLIGATORIO)</p>
<p>Consigna:</p>
<p>Desarrollar en angular un ecommerce con las siguientes paginas:</p>
<p>Home: Listado de más de 2 productos.</p>
    <ul>
        <li>Detalle de producto</li>
        <li>Al navegar a dicha página mostrar el detalle completo del producto</li>
    </ul>
<p>Registro.</p>
    <ul>
        <li>Realizar maquetado y validaciones (no realizar guardado de datos)</li>
    </ul>
<p>Login.</p>
    <ul>
        <li>Realizar maquetado y validaciones (no realizar guardado de datos)</li>
    </ul>

<p><b></b></p> 

<p>-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-</p>
<app-menu></app-menu>
<router-outlet></router-outlet>